.image-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 1200px;
}
.image-container img {
  width: 30%;
  height: auto;
  object-fit: contain;
  margin: 0 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 1200px;
}

.top-image {
  width: 180%;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.image-container img {
  width: 30%;
  height: auto;
  object-fit: contain;
  margin: 0 10px;
}
.bottom-image {
  width: 180%;
  margin-top: 20px;
  display: block;
  margin-left:-520px;
  margin-right: auto;
}
.quizzes-text {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: white;
}
.hogwarts-banner {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color:white;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.GetSortedNow{
  position: absolute;
  bottom: 620px;
  right: 380px;
  padding: 10px 20px;
  background-color: #5758ff;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition:all 0,3s ;
  margin: 10px;
}
.GetSortedNow:hover{
  background-color: #0b163b;
  border-color: #5758ff;
}
